.chart-container {
    border: 1px dashed black;
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 3em;
    text-align: center;
    /*background-color: rgb(80, 80, 80);*/
}